@font-face{font-family: poppins; src:url('../fonts/Cloud-Light.otf');}
@font-face{font-family: poppins; src:url('../fonts/Cloud-Bold.otf'); font-weight:bold;}
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(../fonts/MaterialIcons-Regular.eot);src:local('Material Icons'),local('MaterialIcons-Regular'),url(../fonts/MaterialIcons-Regular.ttf);}
body{background-color:#BBBBBB;font-family:poppins;margin:0;font-size:0;}
img{image-rendering:-webkit-optimize-contrast}
.nav-bar{position:fixed;left:0px;top:0px;width:100%;height:50px;background-color:#F76C67;box-shadow:0px 2px 2px #C55152;z-index:100;}
.side-nav{position:fixed;left:0px;top:50px;height:calc(100vh - 50px);width:50px;background-color:#02A0C7;z-index:10;box-shadow:2px 0px 2px #2F7EA5;}
.inline-block{display:inline-block;}
.logo{width:34px;height:34px;padding:8px;}
.banner{position:fixed;top:7px;font-size:30px;color:#FFFFFF;font-weight:bold;}
.side-block{position:relative;width:50px;height:50px;color:#FFFFFF;}
.unselected:hover{color:#AAAAAA;box-shadow:inset 2px 0 0 #AAAAAA;}
.side-block:hover .tooltip{visibility:visible;animation:1s fade;}
.tooltip{visibility:hidden;width:120px;background-color:black;color:#FFF;text-align:center;padding:5px 0;border-radius:6px;position:absolute;z-index:1;left:108%;top:8px;font-size:15px;}
@keyframes fade{0%{opacity:0;}100%{visibility:visible;opacity:1;}}
.body{position:fixed;top:50px;left:50px;width:calc(100vw - 60px);height:calc(100vh - 60px);}
.row{vertical-align:top;}
.block{display:inline-block;}
.inner-block{display:inline-block;vertical-align:top;width:calc(100% - 10px);height:calc(100% - 10px);background-color:#FFFFFF;margin:10px;box-shadow:2px 2px 2px #888888;}
.inner-block-2{display:inline-block;vertical-align:top;width:calc(100% - 10px);height:calc(100% - 10px);margin:10px;}
.hide{display:none;}
.selected{box-shadow:inset 3px 0 0 #F76C67;color:#F76C67;background-color:white;}
.block-header{font-size:2.8vh;color:#FFFFFF;padding-left:5px;font-weight:bold;background-color:#02A0C7;box-shadow:0px 2px 0px #2271A6;padding-top:5px;}
.block-header-2{background-color:#66B62A;height:100%;font-size:3.5vh;font-weight:bold;;color:white;width:25%;display:flex;align-items:center;justify-content:center;}
.block-data{font-size:15vh;display:flex;width:100%;height:calc(100% - 5vh);align-items:center;justify-content:center;color:white;font-weight:bold;}
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;}
.side-block .material-icons{font-size:30px;text-align:center;padding:10px;}
.recent-block{animation:fade 1.5s;}
.sub-block{display:block;position:absolute;top:0px;}
.radius{border-radius:5px;}
.relative{position:relative;}
.report-block{position:absolute;left:25%;top:0%;width:75%;height:100%;}
.report-subblock{display:inline-block;width:50%;height:100%;position:relative;}
.report-subblock:hover{background-color:#EBEBEB;}
.report-img{height:70%;top:15%;position:absolute;margin-left:10%;}
.report-text{font-size:3vh;color:#999999;position:absolute;left:55%;bottom:10%;font-weight:bold;}
.report-table{width:100%;height:100%;position:relative;font-size:4vh;}
.report-table input{border:none;border-radius:5px;background-color:white;width:100%;height:100%;text-align:right;font-size:3vh;padding-right:3vh;}
.report-table input:focus{outline:none;}
.report-table tr td{text-align:center;}
.report-table .first{width:20%;}
.report-table .cell{width:40%;}
.report-header{width:100%;height:100%;border-radius:5px;background-color:#999999;color:white;}

/* .manage-header{width:100%;font-weight:bold;border-collapse:collapse;}
.manage-header tr td{border:1px solid #D1D1D1;padding-top:4px;}
.manage-body{width:100%;border-collapse:collapse;max-height:calc(100% - 7vh);overflow-y:auto;table-layout:fixed;display:block;}
.manage-body tr td{border:1px solid #D1D1D1;padding-top:4px;}
.manage-header tr td:nth-child(3n+1), .manage-body tr td:nth-child(3n+1){text-align:center;}
.manage-body tr:nth-child(even){background-color:#EBEBEB;}
.manage-button{width:45%;height:10%;font-weight:bold;color:white;border:none;border-radius:5px;padding:1vh 0 1vh 0;}
.manage-reject{background-color:#CCCCCC;color:#F76C67;}
.manage-button:disabled{background-color:#AFAFAF;color:#454545;}
input[type=checkbox]{width:0;height:0;}
input[type=checkbox]::before{content:'check_box_outline_blank';font-family:'Material Icons';font-size:3vh;position:relative;top:-1.5vh;left:-1.5vh;}
input[type=checkbox]:checked::before{content:'check_box';}
.right{text-align:right;} */
.manage-header{width:100%;height:30px;font-weight:bold;background-color:#02A8C1;margin-top:2px;line-height:30px;}
.manage-body{width:100%;height:calc(100% - (6vh + 30px));overflow-y:auto;font-size:16px;}
.manage-col{height:100%;display:inline-block;text-align:center;font-size:18px;}
.manage-row{height:30px;width:100%;box-shadow:0px 1px 0px #CCC;line-height:30px;}
.manage-name-col{width:35%;}
.manage-email-col{width:35%;}
.manage-button-col{width:30%;}
.manage-button{width:40%;height:80%;border:none;outline:none;box-shadow:1px 1px 4px #CCCCCC;font-size:16px;font-weight:bold;}
.manage-button-approve{background-color:#9FD10A;margin-left:4px;}
.manage-button-reject{background-color:#AAAAAA;color:#EA5455;}
.manage-row:nth-child(even){background-color:#F3F3F3;}


.white{color:white;}
.green{color:#65B62B;}
.red{color:#F76C67;}
.online{color:#65B62B;}
.offline{color:#F76C67;}
.bg-red{background-color:#F76C67;}
.bg-green{background-color:#65B62B;}

.block-table{margin-top:0px;display:block;width:100%;height:calc(100% - 7vh);overflow-y:auto;}
.block-row{width:auto;height:6vh;margin:0px;display:relative;box-shadow:0px 1px 0px #CCCCCC;align-items:center;position:relative;}
.block-row .block-row-icon{margin-left:10px;font-size:4vh;color:black;width:4vh;height:4vh;border-radius:50%;position:absolute;top:1vh;}
.block-row .block-row-name{padding-left:2vh;font-size:3vh;color:black;position:absolute;top:-1.5vh;left:5vh;}
.block-row .block-row-gate{width:4vh;position:absolute;right:14vh;top:1.5vh;}
.block-row .block-row-status{padding-left:2vh;width:4vh;position:absolute;right:9vh;top:1vh;}
.block-row .block-row-time{padding-left:2vh;font-size:3vh;color:black;position:absolute;right:1vh;top:-1.5vh;}

.receiver-row{width:auto;height:6.5vh;margin:4px;display:flex;box-shadow:0px 1px 0px #CCCCCC;align-items:center;position:relative;}
.receiver-row .block-row-icon{margin-left:0.5vh;width:4vh;height:4vh;position:absolute;top:1.25vh;}
.receiver-row .block-row-entry{width:4vh;position:absolute;top:1.25vh;left:5.5vh;}
.receiver-row .block-row-name{font-size:2.5vh;color:black;position:absolute;top:-1vh;left:10.5vh;}
.receiver-row .block-row-status{position:absolute;right:2vh;font-size:2.5vh;top:-1vh;font-weight:bold;animation:blink 2s infinite;}
.receiver-row .block-row-status::before{content:'fiber_manual_record';font-family:'Material Icons';position:relative;top:0.5vh;}

.relative{position:relative;}
.approve-image{width:30vh;border-radius:10px;position:absolute;left:2.5vh;}
.approve-profile{width:calc(100% - 41vh);height:70%;position:absolute;right:5vh;}
.approve-text{font-size:3vh;color:#A7FFEB;padding-top:1.8vh;width:100%;}
.approve-text span{float:right;}
.approve-button{border:none;float:right;margin:1vh;outline:none;font-size:2.5vh;padding:9px;border-radius:6px;position:absolute;bottom:2vh;font-weight:bold;color:white;}
.approve-button.bg-green{right:2vh;background-color:#66B62A;box-shadow:0 2px 0 #9FD10A;}
.approve-button.bg-green:hover{background-color:#AEEA00;}
.approve-button.bg-green:active{box-shadow:0 1px 0px #9FD10A;transform:translateY(1px);}
.approve-button.bg-red{left:2vh;background-color:rgb(214, 22, 22);box-shadow:0 2px 0 #D50000;}
.approve-button.bg-red:hover{background-color:#FF1744;}
.approve-button.bg-red:active{box-shadow:0 1px 0px #D50000;transform:translateY(1px);}

.add-profile{position:absolute;left:8vh;margin-top:5vh;width:50%;top:10%;}
.add-profile td{font-size:3.5vh;color:#555555;padding-top:0vh;height:7vh;font-weight:bold;}
.add-profile td input[type=text],input[type=password],select{width:100%;height:80%;color:black;background-color:#F0F0F0;border:none;border-radius:3vh;outline:none;box-shadow:inset 0 2px 1px #AAAAAA;font-size:4vh;color:#444444;padding-right:7vh;transition:box-shadow 0.6s ease;text-align:right;}
.add-profile td input[type=text]:focus,input[type=password]:focus{box-shadow:inset 0 2px 1px #FF5252;}
.radio-row{text-align:center;width:90%;}
.radio-group span input[type=radio]{visibility:hidden;}
.radio-group span label{color:#AAAAAA;transition:color 0.5s linear;position:relative;}
.radio-group span label::before{content:'radio_button_unchecked';color:white;font-size:5vh;font-family:Material Icons;display:inline-block;letter-spacing:10px;font-weight:bold;color:#AAAAAA;transition:color 0.5s linear;position:absolute;top:-0.5vh;left:-6vh;}
.radio-group span:hover label{color:#777777;}
.radio-group span:hover label::before{color:#777777;}
.radio-group span input[type=radio]:checked.red ~ label{color:#FF5252;}
.radio-group span input[type=radio]:checked.red ~ label::before{color:#FF5252;content:"radio_button_checked"}
.radio-group span input[type=radio]:checked.green ~ label{color:#65B62B;}
.radio-group span input[type=radio]:checked.green ~ label::before{color:#65B62B;content:"radio_button_checked"}
.radio-group span.second{padding-left:10vh;}
.add-profile-image{position:absolute;right:20%;max-width:50%;max-height:49%;background-color:#EBEBEB;background-image:url("../img/image_temp.png");width:50%;height:50%;background-repeat:no-repeat;background-position:center;border-radius:5px;border:none;box-shadow:inset 0px 2px 2px #999999;background-size:initial;}
.add-right{position:absolute;left:calc(50% + 8vh);width:calc(50% - 11vh);top:10%;height:calc(100% - 15vh);margin-top:5vh;text-align:center;}
.add-file{padding:5px;background:#F86C67;color:white;font-weight:bold;border-radius:5px;font-size:4vh;position:absolute;top:55%;display:inline-block;width:calc(50% - 10px);right:20%;}
.add-file input[type='file']{display:none;}
.label-password::after{content:attr(state);font-size:4vh;color:white;position:absolute;right:2vh;padding-top:0.8vh;font-family:'Material Icons';color:#FF5252}
.label-password.green::after{color:#AEEA00;}
.add-profile-permission{text-align-last:center;padding-right:0vh;}

.edit-input{border:none;outline:none;border-radius:5px;font-size:20px;background-color:#CDCDCD;height:40px;margin:10px;right:0px;float:right;padding-left:50px;background-image:url('../img/search.png');background-repeat:no-repeat;background-size:30px 30px;background-position:5px 5px;}
.edit-table{height:96%;width:96%;margin:2%;}
.edit-table-header{height:40px;width:100%;background-color:#02A0C7;font-weight:bold;line-height:45px;}
.edit-table-body{height:calc(100% - 40px);width:100%;overflow-y:auto;}
.edit-table-row{height:35px;width:100%;line-height:38px;box-shadow:0 1px 1px #CCCCCC}
.edit-table-row:nth-child(even){background-color:#F3F3F3;}
.edit-table-col{height:100%;font-size:16px;display:inline-block;text-align:center;}
.edit-table-name-col{width:45%;}
.edit-table-card-col{width:35%;}
.edit-table-button-col{width:20%;}
.edit-table-button{width:80%;height:80%;border:none;background-color:#AEEA00;border-radius:4px;box-shadow:1px 1px 3px #CCCCCC;font-size:16px;}
.edit-table-button:hover{background-color:#65B62B;}

.show-left{width:50%;height:100%;position:absolute;left:0;top:0;}
.show-right{width:49%;height:100%;position:absolute;left:50%;top:0;}
.show-block{height:calc(100% - 7vh);width:100%;margin-top:0px;position:relative;}
.show-block-image{width:100%;height:50%;position:relative;}
.show-block-row{width:100%;height:70px;font-size:18px;display:inline-block;position:relative;}
.show-block-label{font-weight:bold;position:absolute;top:15px;left:40px;}
.show-block-content{position:absolute;top:35px;left:40px;}
.show-image{width:70%;height:70%;position:absolute;left:15%;top:15%;}
.show-button{width:180px;height:40px;position:absolute;right:0px;border:none;border-radius:4px;box-shadow:1px 1px 3px #cccccc;font-size:16px;}
.show-input{width:80%;position:absolute;left:40px;height:26px;top:38px;font-size:18px;outline:none;box-shadow:0px 2px 0px #AEEA00;border:none;}
.show-input.block{box-shadow:0px 2px 0px #CCCCCC}
.bottom{position:absolute;left:0;bottom:0;}
.show-button:disabled{background-color:#BBBBBB;color:#555555;}
.delete-button{background-color:#BBBBBB;color:#F86C67;}
.delete-button:hover:enabled{background-color:#AAAAAA}
.edit-button{background-color:#7C76FF;color:white;}
.edit-button:hover:enabled{background-color:#736EFE;}

.setting-left{position:absolute;left:4vh;margin-top:2vh;height:31%;}

.graph-bar{transition:fill 0.4s ease;}
.graph-bar.in{fill:#66B62A;}
.graph-bar.out{fill:#F86C67;}

.graph-tooltip{width:10%;height:10%;position:fixed;background-color:rgba(20, 20, 20, 0.7);z-index:101;visibility:hidden;color:white;font-size:20px;text-align:center;border-radius:4px;}

::-webkit-scrollbar{width:0px;}

.r-1{height:calc(100% * (1/12));}
.r-2{height:calc(100% * (2/12));}
.r-3{height:calc(100% * (3/12));}
.r-4{height:calc(100% * (4/12));}
.r-5{height:calc(100% * (5/12));}
.r-6{height:calc(100% * (6/12));}
.r-7{height:calc(100% * (7/12));}
.r-8{height:calc(100% * (8/12));}
.r-9{height:calc(100% * (9/12));}
.r-10{height:calc(100% * (10/12));}
.r-11{height:calc(100% * (11/12));}
.r-12{height:100%;}
.c-4{width:calc(100% * (4/12));}
.c-5{width:calc(100% * (5/12));}
.c-6{width:calc(100% * (6/12));}
.c-7{width:calc(100% * (7/12));}
.c-8{width:calc(100% * (8/12));}
.c-12{width:100%;}
.lc-5{left:calc(100% * (5 / 12));}


.alert{color:#FF5252;font-size:3vh;font-weight:bold;}
.alert.green{color:#C6FF00;}

@keyframes blink{50%{opacity:0.5;}}